@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

.btn {
  background: 0;
  border: 0;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}

button {
  border: 0;
  background: 0;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 24px;
}

main {
  display: flex;
}

.header {
  display: flex;
  padding-top: 10px;
  align-items: center;
}
.header__logo {
  width: 156px;
  height: 28px;
  left: 335px;
  right: 1429px;
  top: 14px;
  bottom: 822px;
}
.header__btn-catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 118px;
  height: 40px;
  padding: 13px;
  margin-left: 15px;
  border-radius: 3px;
  background: rgb(0, 91, 255);
  /* Текст */
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}
.header__input {
  width: 777px;
  height: 40px;
  padding: 10px;
  margin-left: 18px;
  border: 2px solid rgb(0, 91, 255);
  border-radius: 3px 0px 0px 3px;
}
.header__btn-search {
  width: 76px;
  height: 40px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(0, 91, 255);
  border-radius: 0px 3px 3px 0px;
}
.header .basket {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-left: 26px;
}
.header .basket__counter {
  position: absolute;
  left: 40px;
  bottom: 32px;
  width: 22.69px;
  height: 16px;
  border-radius: 8px;
  text-align: center;
  background: rgb(249, 17, 85);
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}
.header .basket__img {
  /* Vector */
  width: 22.27px;
  height: 20px;
}
.header .basket__text {
  width: 53.53px;
  height: 18px;
  margin-top: 2px;
  color: rgb(0, 26, 52);
  font-family: Arial;
}

.cards {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  justify-content: center;
  gap: 2px;
}

.article {
  display: flex;
  flex-direction: column;
  max-width: 252px;
  max-height: 399px;
  border: 1px solid rgb(237, 237, 237);
  background: rgb(255, 255, 255);
}
.article__img {
  padding: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.article__info {
  padding: 20px;
}
.article__price {
  color: rgb(33, 37, 41);
  font-family: Arial;
  font-size: 21.48px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.3px;
  text-align: left;
}
.article__text {
  color: rgb(33, 37, 41);
  font-family: Arial;
  margin-top: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
}
.article__btn {
  width: 209px;
  height: 32px;
  margin-top: 12px;
  border: 2px solid rgb(0, 91, 255);
  border-radius: 2px;
  background: rgb(0, 91, 255);
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 13.23px;
  font-weight: 700;
  line-height: 16.38px;
  text-align: center;
}

.filter__wrapp {
  display: flex;
  padding-top: 30px;
  flex-direction: column;
}
.filter__title {
  color: rgb(33, 37, 41);
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.filter__price {
  margin-top: 7px;
  color: rgb(33, 37, 41);
  font-family: Arial;
  font-size: 13.67px;
  font-weight: 700;
  line-height: 13px;
}

.search {
  display: flex;
  margin-top: 10px;
  gap: 5px;
  align-items: center;
}
.search__text {
  color: rgb(153, 153, 153);
  font-family: Arial;
  font-size: 13.34px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
}
.search__price {
  /* Main → Form → Input */
  width: 69.66px;
  height: 27px;
  padding: 5px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 2px;
  background: rgb(255, 255, 255);
}

.checkbox {
  display: flex;
  flex-direction: column;
  margin-top: 11px;
  gap: 10px;
}
.checkbox__square {
  width: 15px;
  height: 15px;
  border: 1px solid rgb(0, 91, 255);
  border-radius: 2px;
  background: rgb(255, 255, 255);
}
.checkbox__text {
  color: rgb(77, 95, 113);
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0%;
}/*# sourceMappingURL=index.css.map */